<p class="game-instructions" ng-if="gameOngoing">
  Remove duplicate numbers by clicking on them. If you eliminate a number that's not a duplicate - you loose.
  Eliminating all duplicate numbers gets you a win.
</p>

<p ng-if="defeated" class="game-over"> Game Over! </p>
<p ng-if="victorious" class="victory"> Victory! </p>

<input type="button" ng-repeat="number in numbers track by $index" 
  type="button" class="btn btn-primary btn-lg" 
  value="{{number}}" ng-click="playerMove( $index )" ng-disabled="!gameOngoing"></button>